services:

  dashmachine:
    image: rmountjoy/dashmachine:latest
    container_name: dashmachine
    volumes:
      - ./app_data:/dashmachine/dashmachine/user_data
    ports:
      - "8200:5000"
    restart: unless-stopped  

